class {{ Name }}({{ BaseString }}):

{{ #CommentString }}
    """
    {{ CommentString }}
    """
{{ /CommentString }}

{{ #Fields}}
    {{ . }}
{{ /Fields }}

{{ #Constructor }}
    {{ . }}
{{ /Constructor }}
{{ ^Constructor }}
    def __init__(self):
        pass
{{ /Constructor }}

{{ #Methods }}
    {{ . }}
{{ /Methods }}