{{ #IsAsync }}async {{/IsAsync}}def {{Name}}({{ ArgumentsString }}) -> {{ ReturnType }}:
    {{ #CommentString }}
    """
    {{ CommentsString }}
    """
    {{ /CommentString }}
    {{ #Statements }}
        {{ . }}
    {{ /Statements }}
    {{ ^Statements }}
        pass
    {{ /Statements }}